<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=livedemoblobstorage;AccountKey=SupLpFP2qo3Kanp5uc3pLpwkDPmXCm0aHFL6yI32BbUu+Y4YCCUJis6TOS7APQgPs6EMs2AN0YL0NII2HrufUg=="/>
  </appSettings>
</configuration>